/* mobile devices screen */

@media screen and (max-width:576px) {
/* nav styles start */
    .nav,
    .nav-text {
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;

    }

    .nav-text {
        padding-top: 2rem;
    }

    .nav-follow {

        width: 80%;
        margin-top: 2rem;

    }

    .nav-text-a {
        padding-bottom: 2rem;
    }
/* nav styles end */


.footer{
    padding-right: 20px;
    padding-left: 20px;
}

.footer-1stp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width : 100%;
    
    

}
/* footer styles end */
}

/* tablet devices screen */

@media screen and (min-width:577px) and (max-width:992px) {
/* nav styles start */
    .nav,
    .nav-text {
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;

    }

    .nav-text {
        padding-top: 2rem;
    }

    .nav-follow {

        width: 80%;
        margin-top: 2rem;

    }

    .nav-text-a {
        padding-bottom: 2rem;
    }
/* nav styles end */

.footer{
    padding-right: 20px;
    padding-left: 20px;
}

.footer-1stp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width : 100%;
    
    

}
/* footer styles end */
}