/* mobile devices screen */

@media screen and (max-width:576px) {
/* nav styles start */
    .nav,
    .nav-text {
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;

    }

    .nav-text {
        padding-top: 2rem;
    }

    .nav-follow {

        width: 80%;
        margin-top: 2rem;

    }

    .nav-text-a {
        padding-bottom: 2rem;
    }
/* nav styles end */

.banner {

    flex-direction: column;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    flex-direction: column-reverse;
    

}

.banner-text {
margin-top: 1.25rem;
    width: 90%;
    
}



.banner-img {
   
    width: 90%;

}



/* banner styles end */
/* <!--  gamer section start --> */

.gamer {
    flex-direction: column;
    padding-right: 22px;
    padding-left: 20px;
    
}
.gamer-img {
    
    width: 90%;
    
    
}

.gamer-text {

    width: 90%;
    padding-right: 1rem;
    margin: 1 auto;
    align-items: center;
    
    text-align: center;
    justify-content: center;
    text-align: center;
    margin: 1 auto;

}

.gamer-text1 {
    text-align: center;

}


.gamer-text2 {
    
text-align: center;


}

.gamer-text3 {
   
text-align: center;

}
.gamer-text4 {
    font-size: 1.25rem;

}

/* <!--  gamer section end --> */

/* <!--  instantly section start --> */

.instantly {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
   
}

.instantly-img {
    
    width: 100%;
    
}

.instantly-text {
    justify-content: center;
    width: 90%;
    padding-right: 2rem;
    margin-right: 1rem;
    text-align: center;
    align-items: center;

}

.instantly-text1 {
    text-align: center;
    

}

.instantly-text2 {
    color: #534C64;
text-align: center;
align-items: center;
margin-bottom: 2rem;

}

.instantly-img1{

    position: relative;
    width: 20rem;
    height: 22rem;
    border-radius: .5rem;
    border: 0.5rem solid #FFF;
    margin-bottom: 3rem;
       
    
    }

    .instantly-img2 {

        position: absolute;
        width: 7rem;
        height: 9rem;
        
        margin-right: 17rem;
        
        }


/* <!--  instantly section end --> */



/* <!--  games section start --> */

.games {
    

    margin: .2rem auto;
    padding: .2rem;
    background-color: rgb(245, 239, 232);
    display: flex;
    flex-wrap: wrap;
   
    
    }
    
   
    
    
    /* <!--  games section end --> */



/* footer styles start */

.footer{
    padding-right: 20px;
    padding-left: 20px;
}

.footer-1stp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width : 100%;
    
    
/* footer styles end */
}


}









/* tablet devices screen */

@media screen and (min-width:577px) and (max-width:992px) {
/* nav styles start */
    .nav,
    .nav-text {
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;

    }

    .nav-text {
        padding-top: 2rem;
    }

    .nav-follow {

        width: 80%;
        margin-top: 2rem;

    }

    .nav-text-a {
        padding-bottom: 2rem;
    }
/* nav styles end */

.banner {

    flex-direction: column;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    flex-direction: column-reverse;
    

}

.banner-text {
margin-top: 1.25rem;
    width: 90%;
    
}



.banner-img {
   
    width: 90%;

}



/* banner styles end */

/* <!--  gamer section start --> */

.gamer {
    flex-direction: column;
    padding-right: 22px;
    padding-left: 20px;
    
}
.gamer-img {
    
    width: 90%;
    
    
}

.gamer-text {

    width: 90%;
    padding-right: 1rem;
    margin: 1 auto;
    align-items: center;
    
    text-align: center;
    justify-content: center;
    text-align: center;
    margin: 1 auto;

}

.gamer-text1 {
    text-align: center;

}


.gamer-text2 {
    
text-align: center;


}


.gamer-text3 {
   
text-align: center;

}
.gamer-text4 {
    font-size: 1.25rem;

}

/* <!--  gamer section end --> */

/* <!--  instantly section start --> */

.instantly {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
   
}

.instantly-img {
    
    width: 100%;
    
}

.instantly-text {
    justify-content: center;
    width: 90%;
    padding-right: 2rem;
    margin-right: 1rem;
    text-align: center;
    align-items: center;

}

.instantly-text1 {
    text-align: center;
    

}

.instantly-text2 {
    color: #534C64;
text-align: center;
align-items: center;
margin-bottom: 2rem;

}

.instantly-img1{

    position: relative;
    width: 20rem;
    height: 22rem;
    border-radius: .5rem;
    border: 0.5rem solid #FFF;
    margin-bottom: 3rem;
    margin-right: 7rem;
       
    
    }

    .instantly-img2 {

        position: absolute;
        width: 7rem;
        height: 9rem;
        
        margin-right: 24rem;
        
        }







/* <!--  instantly section end --> */

/* <!--  games section start --> */

.games {
    

    margin: .2rem auto;
    padding: .2rem;
    background-color: rgb(245, 239, 232);
    display: flex;
    flex-wrap: wrap;
   
    
    }

    .games-game {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 13rem;
        height: 4rem;
        border-radius: 3rem;
        background: #FFF;
        padding: .2rem;
        margin: .5rem;
        
        }
    
   
    
    
    /* <!--  games section end --> */



.footer{
    padding-right: 20px;
    padding-left: 20px;
}

.footer-1stp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width : 100%;
    
    

}
/* footer styles end */
}