@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');

/* shared styles start */

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* shared styles end */

/* nav styles start */

.nav{
    display: flex;
    text-align: center;
    border: 1px solid tomato;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: center;
    padding-right: 220px;
    padding-left: 220px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    width: 50%;
    text-align: center;
}
.nav-text{
    display: flex;
    width: 50%;
    justify-content: space-around;
    text-align: center;

}


/* nav styles end */
