@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');

/* shared styles start */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* shared styles end */

/* nav styles start */

.nav {
    display: flex;
    /* border: 1px solid tomato; */
    margin-top: .2rem;
    padding: 1rem;
    justify-content: center;
    padding-right: 220px;
    padding-left: 220px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
}

.nav-logo {
    display: flex;
    width: 50%;
    align-items: center;
    padding-right: 10px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;

}

.nav-logo-name {
    text-align: center;
    padding-left: .8rem;
}

.nav-logo-name span {
    color: #FF42A5;
}

.nav-text {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;

}

.nav-text h4 a {
    text-decoration: none;
    color: #3C354F;


    font-size: 1.1rem;

    font-weight: 500;

}

.nav-follow {

    width: 40%;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;

}

.fa-youtube {
    color: #F61C0D;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* nav styles end */


/* <!--  banner section start --> */

.banner {

    display: flex;
    /* border: 1px solid tomato; */
    margin-top: .2rem;
    padding: 1rem;
    justify-content: center;
    padding-right: 220px;
    padding-left: 220px;
    background: #FFF;
    /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
    align-items: center;


}

.banner-text {

    width: 50%;
    align-items: center;
    padding-right: 3rem;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin: 1.25rem auto;

}

.banner-text1 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text2 {
    text-align: center;

    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text3 {
    color: #534C64;
    text-align: left;
    padding-left: 5rem;

    font-size: 1rem;

    font-weight: 500;

    text-transform: lowercase;
}

.banner-btn1 {
    color: #FFF;

    font-size: 1.25rem;

    font-weight: 600;

    text-transform: uppercase;
    display: inline-flex;
    padding: 1.25rem 2.25rem;
    align-items: flex-start;
    gap: .8rem;
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}

.banner-btn2 {
    color: #FFF;

    font-size: 1.25rem;

    font-weight: 600;

    text-transform: uppercase;
    display: inline-flex;
    padding: 1.25rem 2.25rem;
    align-items: flex-start;
    gap: .8rem;
    border-radius: 3rem;
    background: #4EC5F7;
    margin-top: 1rem;

}




.banner-img {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;


}

.banner-img img {
    height: 100%;
    width: 100%;
}




/* <!--  banner section end --> */

/* <!--  gamer section start --> */

.gamer {
    display: flex;
    /* border: 1px solid tomato; */
    margin-top: .2rem;
    padding: 1rem;
    justify-content: center;
    padding-right: 220px;
    padding-left: 200px;
    background: #FFF;
    /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
    align-items: center;
}

.gamer-img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.gamer-img img {
    height: 100%;
    width: 100%;
}

.gamer-text {

    width: 50%;
    align-items: right;
    padding-right: 2rem;
    text-align: center;
    justify-content: right;
    text-align: right;
    margin: 1.25rem auto;

}

.gamer-text1 {
    text-align: right;

    font-size: 2.5rem;

    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gamer-text2 {
    color: #534C64;
    text-align: right;

    font-size: .8rem;

    font-weight: 400;
    padding-top: .8rem;
    padding-bottom: .8rem;

}


.gamer-text3 {
    color: #534C64;
    text-align: right;

    font-size: 1rem;

    font-weight: 500;
    padding-top: .5rem;

}


.gamer-text4 {
    color: #534C64;

    font-size: 1.5rem;

    font-weight: 700;

}



/* <!--  gamer section end --> */


/* <!--  instantly section start --> */


.instantly {
    display: flex;

    margin-top: .2rem;
    padding: 1rem;
    justify-content: center;
    padding-right: 220px;
    padding-left: 200px;
    background: #FFF;
    align-items: center;
}



.instantly-img {
    text-align: right;
    width: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;


}


.instantly-img1 {

    position: relative;
    width: 26rem;
    height: 28rem;
    border-radius: .5rem;
    border: 0.5rem solid #FFF;
    margin-bottom: 3rem;


}

.instantly-img2 {

    position: absolute;
    width: 8rem;
    height: 10rem;

    margin-right: 22rem;

}



.instantly-text {

    width: 50%;
    padding-right: 5rem;
    margin-right: 2rem;

}

.instantly-text1 {
    text-align: right;


}




.instantly-text01 {
    text-align: right;

    font-size: 2.5rem;

    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instantly-text02 {
    text-align: right;

    font-size: 2.5rem;

    font-weight: 700;

    color: #0B0223;
}


.instantly-text2 {
    color: #534C64;
    text-align: right;
    align-items: right;
    margin-top: 1rem;
    font-size: 1rem;

    font-weight: 400;

}

/* <!--  instantly section end --> */

/* <!--  games section start --> */

.games {


    margin: 2rem auto;
    padding: 2rem;
    background-color: rgb(250, 246, 244);
    /* display: grid;
grid-template-columns: repeat(5, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;


}


.games-game {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 13rem;
    height: 4rem;
    border-radius: 3rem;
    background: #FFF;
    padding: .5rem;
    margin: 1rem;

}


.games-game-text {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    padding-left: .25rem;

}

.games-game:hover {
    border: .15rem solid #FF42A5;
    color: #FF42A5;

}

.games-game-text:hover {

    color: #FF42A5;
}


/* <!--  games section end --> */


/* footer styles start */

.footer {
    background-color: #0B0223;
    justify-content: center;
    color: #FFF;
    padding-right: 220px;
    padding-left: 220px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer-logo {
    display: flex;
    width: 90%;
    align-items: center;
    padding-right: 10px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    color: #FFF;
}

.footer-logo-name {
    text-align: center;
    padding-left: .8rem;
}

.footer-logo-name span {
    color: #FF42A5;
}

.footer-1stp {
    display: flex;
    width: 90%;
    align-items: center;
    /* padding-right: 10px; */
    text-align: center;
    padding-top: 2rem;
    gap: .8rem;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;

}

.footer-2stp {
    display: flex;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    gap: .8rem;
    justify-content: space-evenly;


}

.footer-3stp {
    display: flex;
    width: 90%;
    align-items: center;
    /* padding-right: 10px; */
    text-align: center;
    padding-top: 2rem;
    gap: .8rem;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;



}

.footer-2stp a i {}

.footer-4stp {

    padding-top: 2rem;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* footer styles end */



/* bonus section start */

.bonus-text {

    width: 90%;
    padding-right: 5rem;
    margin-right: 2rem;
    margin-top: 2rem;

}

.bonus-text1 {
    text-align: center;


}




.bonus-text01 {
    text-align: center;

    font-size: 2.5rem;

    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bonus-text02 {
    text-align: center;

    font-size: 2.5rem;

    font-weight: 700;

    color: #0B0223;
}


.bonus-text2 {
    color: #534C64;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;

    font-weight: 400;

}

.bonus-img {
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    padding: 1rem 2rem;
    justify-content: center;
    width: 90%;
    margin-top: 2rem;
    
}


.bonus-img1 {
width: 14rem;
height: 17rem;
margin-bottom: 1rem;

position: relative;

}


.bonus-img-overlay {
    position: absolute;
    background-color: #604c96;
    border: 2px solid rgb(255, 255, 255);
    margin-top: -18.5rem;
    padding: 0;
    width: 14rem;
height: 17rem;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
border-radius: 1rem;
opacity: 45%;


}

.bonus-img1:hover .bonus-img01{
    opacity: 45%;
    visibility: visible;

}


.bonus-img01 {
    width: 14rem;
    height: 3rem;
    margin-bottom: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .bonus-img0 {
        margin: 0 auto;
    padding: 1rem;
 }



 .bonus-img0 {
    position: relative;
    display: inline-block;
  }
  
  .bonus-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as desired */
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .bonus-img0:hover .bonus-img-overlay {
    opacity: 1;
  }
  
  .bonus-img-overlay img {
    width: 3rem; /* Adjust the play button size as desired */
  }
  
  .bonus-img-overlay p {
    color: #fff;
    margin-top: 10px;
        font-size: .9rem; /* Adjust the font size as desired */
  }
  
  /* Additional styles for the image and overlay as desired */
  .bonus-img1 {
    width: 100%;
  }
  

/* bonus section start */